name: pkgcheck

# This will cancel running jobs once a new run is triggered
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref }}
  cancel-in-progress: true

on:
  # Manually trigger the Action under Actions/pkgcheck
  workflow_dispatch:
  # Run on every push to main
  push:
    branches:
      - main
      - devel

jobs:
  pkgcheck:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      issues: write
      pull-requests: write
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Install Universal Ctags
        run: |
          sudo apt-get update
          sudo apt-get install -y universal-ctags
      - name: Pkgcheck
        uses: ropensci-review-tools/pkgcheck-action@main
        id: pkgcheck
        with:
          post-to-issue: true
